{% extends "layout.html" %}

{% block heading %}Subnet Calculator {% endblock %}

{% block body %}
    <div class="page_elements" style="margin: auto; width: 40%; text-align: center;">
        <form action="{{ url_for('index') }}" method="post">
        {% if network.ip and network.mask or network.ip == [] %}
            <div class="form-group">
                <input class="form-control" style="margin-bottom: 5px;" type="text" name="ip" placeholder="IP Address">
                <input class="form-control" type="text" name="mask" placeholder="CIDR or Mask">
        {% elif network.ip == False and network.mask %}
            <input class="form-control" style="margin-bottom: 5px; background-color: pink;"; type="text" name="ip" placeholder="Invalid IP!">
            <input class="form-control" type="text" name="mask" value="{{ ".".join(network.mask) }}">
        {% elif network.mask == False and network.ip %}
            <input class="form-control" style="margin-bottom: 5px;" type="text" name="ip" value="{{ ".".join(network.ip) }}">
            <input class="form-control" type="text" name="mask" placeholder="Invalid Mask!" style="background-color: pink">
        {% else %}
            <input class="form-control" style="margin-bottom: 5px; background-color: pink;"; type="text" name="ip" placeholder="Invalid IP!">
            <input class="form-control" type="text" name="mask" placeholder="Invalid Mask!" style="background-color: pink">
        {% endif %}

        <button class="form-control" style="margin-top: 5px;">Calculate!</button>
            </div>


        </form>
        <div id="output">
            {% if network.ip and network.mask %}
                <table>
                    <tr>
                        <td style="position: 200px; width:400px">IP Address:</td>
                        <td>{{ ".".join(network.ip)}}</td>
                    </tr>
                </table>
                IP Address: {{ ".".join(network.ip) }}
                <br>Subnet Mask: <span class="variable">{{ ".".join(network.mask) }}</span>
                <br>Wildcard: <span class="variable">{{ ".".join(network.get_wildcard()) }}</span>
            {% endif %}
            <table>
                <tr>
                    <td style="padding-right: 150px;">test1</td>
                    <td>test2</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
